.card{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}

.card1{
    margin: 10px;
    text-decoration: none;
    background: #fff;
    border: 1px solid hsla(0,0%,50.2%,.24);
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 5px 5px 7px #363236;
    width: 350px;
    height: 300px;

}
.shoename{
    color: #5d0137;
    font-style: italic;
    font-weight: bold;
}
h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.shoeimage{
    height: 150px;
    margin-top: -18px;

}
.button{
    margin-top: -6px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: #8f6161;
    cursor: pointer;
}
.shoeprice{
    color: #606e60;
    text-shadow: 1px 1px 1px #000;
    margin-top: -18px;
    font-style: italic;
    font-size: 35px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hover-grow{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    
    transition-duration: .5s;
    transition-property: transform;
}

.cart-image{
    height: 30px;
}