.checkout{
    display: flex;
}

.left{
    flex: 1;
    border-right: 3px solid #fff;

}


.right{
    flex: 1;
}

.btn{
    padding: 10px 100px;
    background-color: #fff;
    font-size: 22px;
    border-style: none;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 15px;
    font-weight: bolder;
}

.price_cart {
    margin: 10px 180px;
    /* width: 300px; */
    height: 300px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #363236;
    text-decoration: none;

}

.btn1{
    padding: 10px 100px;
    background-color: rgb(36, 35, 35);
    font-size: 22px;
    border-style: none;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bolder;
    color: #fff;
    margin-top: 18px;
    
}

.total{

    padding: 10px 20px ;
    background: #363636;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 3px;
}

.price{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
}

#small{
    position: absolute;
    margin-left: 40px;
    padding: 0px 10px ;
    border-left: 3px solid white;

}

.cart__grid{
    display: flex;
    width: 600px;
    background: #fff;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #363236;
    margin: 50px 20px;
}

.image{
    height: 200px ;
    margin: 5px 10px ;
}

.btn2{

    padding: 15px 20px;
    color: #fff;
    background: black;
    border-style: none;
    outline: none;
    border-radius: 20px;
    font-weight: bolder;
    margin-top: 25px;

}
/* .grid__items{
    margin-left: 2px;
} */